@model FE_webgiay.Models.Danhmuc
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
<h5 class="text-center">Chỉnh sửa Danh Mục</h5>
<div class="col-md-9">
    <form asp-action="Edit" asp-controller="DanhMuc" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <label>Mã danh mục</label>
                    <input asp-for="MaDanhmuc" class="form-control" readonly />
                    <span asp-validation-for="MaDanhmuc" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label>Tên danh mục</label>
                    <input asp-for="TenDanhmuc" class="form-control" />
                    <span asp-validation-for="TenDanhmuc" class="text-danger"></span>
                </div>
                <div class="form-group mb-4 mt-5 text-start">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </form>
</div>