@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <h6 class="mb-4">All Orders</h6>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">#</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Order No</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Update Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Manoj 1 Deshwal 1</td>
                            <td>3F39CBDC-6704-4260-A066-D840F4EC6314</td>
                            <td>275</td>
                            <td>Dispatched</td>
                            <td>Oct 16, 2022</td>
                            <td><button class="btn btn-sm btn-primary">Update</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Manoj 1 Deshwal 1</td>
                            <td>A214969D-AD1E-4D68-8305-3926DF6FDE6D</td>
                            <td>-66</td>
                            <td>Pending</td>
                            <td>Oct 16, 2022</td>
                            <td><button class="btn btn-sm btn-primary">Update</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Manoj 1 Deshwal 1</td>
                            <td>0307DE36-60D4-43A0-A878-68CE2406992D</td>
                            <td>0.99</td>
                            <td>Pending</td>
                            <td>Oct 16, 2022</td>
                            <td><button class="btn btn-sm btn-primary">Update</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Manoj 1 Deshwal 1</td>
                            <td>4FB3AF5C-1890-4D23-8E16-5CFD6C75A65E</td>
                            <td>186</td>
                            <td>Pending</td>
                            <td>Oct 16, 2022</td>
                            <td><button class="btn btn-sm btn-primary">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
